$background-color: rgb(250, 227, 227);
$font-color: rgb(133, 49, 0);
$details-color: rgb(255, 94, 0);
$primary-color: rgb(43, 43, 43);
$fuente-principal: "monospace", monospace;

$success: #4caf50;
$error: #f44336;
$warning: #ff9800;
$info: #2196f3;

